body{
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
}
td,th{
  width: 35px;
  height: 35px;
  text-align: center;
  color: #3CABAD;
  border: #000000 solid 1px;
  cursor: pointer;
}
th{
  background: #3CABAD;
}

.color{background: #000000; color: #ffffff;}

video {
  margin-top: 2px;
  border: 1px solid black;
}

h2 {
  margin-bottom: 4px;
}

.left {
  margin-right: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.right {
  margin-left: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.bottom {
  clear: both;
  padding-top: 10px;
}

#button-recorder {
  color: #ffffff;
  background-color: #3CABAD;
  border: none;
  padding: 0 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  outline: none;
  cursor: pointer;
}

#button-regeneration {
  color: #3CABAD;
  border: solid 1px #3CABAD;
  padding: 0.85rem 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  outline: none;
  cursor: pointer;
}